body {
	margin: 0;
	font-family: "Play", sans-serif;

	font-size: 16px;
	line-height: 1.2;
	color: black;

	display: flex;
	flex-direction: column;
	height: 100dvh;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.migre-v1-content {
    height: 100%;
    margin-bottom: var(--screen-footer-margin);
}

.migre-v1-container {
    height: 100%;
}

.migre-v1-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 500px;
    margin: 0 auto;
}

.migre-v1-main-diary {
    overflow-y: auto;
}

.migre-v1-main-diary-wrapper {
    margin: 20px;
}

.migre-v1-main-bottom-button-wrapper {
    padding: 15px;
}

.migre-v1-main-bottom-button {
    width: 100%;
    background-color: black;
    font-family: "Play", sans-serif;
    color: white;
    padding: 12px 0px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
@media (hover: hover) {
    .migre-v1-main-bottom-button:hover {
        background-color: #444;
    }
}
@media (hover: none) {
    .migre-v1-main-bottom-button:active {
        background-color: #444;
    }
}

.migre-v1-main-header {
    background-color: #34ebbd;
}

.migre-v1-main-header-inner {
    padding: 6px 10px;
}

.migre-v1-main-header-login-button {
    border: none;
    background-color: white;
    font-size: 14px;
    font-family: 'Play', sans-serif;
    border-radius: 4px;
    padding: 4px 10px;
}