{{ define "head.html" }}
<meta charset="UTF-8">
<meta http-equiv="Content-Security-Policy" content="default-src 'self' http: data: https://fonts.googleapis.com https://fonts.gstatic.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; script-src 'self' 'unsafe-inline';">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/static/assets/style/main.css">

<link rel="icon" type="image/png" sizes="120x120" href="/static/assets/images/favicons/favicon-120x120.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/assets/images/favicons/apple-180x180.png">

<script src="/static/assets/scripts/lib/browser.js?23112025"></script>
<script src="/static/assets/scripts/lib/datetime.js?23112025"></script>
<script src="/static/assets/scripts/lib/syntax.js?23112025"></script>
<script src="/static/assets/scripts/diary/pageload.js?23112025"></script>
<script src="/static/assets/scripts/diary/classes/MigraineAttack.js?23112025"></script>
<script src="/static/assets/scripts/diary/classes/MigraineTrigger.js?23112025"></script>
<script src="/static/assets/scripts/diary/classes/MigraineSymptom.js?23112025"></script>
<script src="/static/assets/scripts/diary/classes/MigraineDrug.js?23112025"></script>
<script src="/static/assets/scripts/diary/elements.js?23112025"></script>
<script src="/static/assets/scripts/diary/main.js?23112025"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
<meta name="keywords" content="дневник мигрени, мигренозник, дневник">
<meta name="description" content="Мигренозник — дневник мигрени">
<link rel="manifest" href="/static/manifest.json" crossorigin="use-credentials">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Мигренозник">

<title>Мигренозник — дневник мигрени</title>
{{ end }}