<html lang="ru">

<head>
    {{ template "head.html" . }}
</head>

<body>
    <div class="migre-v1-content">
        <div class="migre-v1-container">
            <header class="migre-v1-main-header">
                <div class="migre-v1-main-header-container">
                    <div class="migre-v1-main-header-inner">
                        {{ if .Username }}
                        <div class="col-md-3 text-end">
                            <span>Привет, {{ .Username }}</span>
                            <button class="migre-v1-main-header-login-button" onclick="logout_Clicked()">Выйти</button>
                        </div>
                        {{ else }}
                        <button class="migre-v1-main-header-login-button" onclick="login_Clicked()">Войти</button>
                        {{ end }}
                    </div>
                </div>
            </header>

            <div class="migre-v1-main">
                <div class="migre-v1-main-diary">
                    <div class="migre-v1-main-diary-wrapper" id="migre-now-wrapper" style="display: none;">
                        <h1>Мигрень сейчас</h1>
                        <div>
                            <div class="migre-v1-main-now-item">
                                <div class="migre-v1-main-now-item-suptitle">Начало мигрени</div>
                                <div class="migre-v1-main-now-item-value">
                                    <div class="migre-v1-main-now-item-value-const" id="migre-current-dt-start-value"></div>
                                </div>
                            </div>
                            <div class="migre-v1-main-now-item">
                                <div class="migre-v1-main-now-item-suptitle">Интенсивность</div>
                                <div class="migre-v1-main-now-item-value">
                                    <div class="migre-v1-main-now-item-value-scrollbar">
                                        <div class="migre-v1-main-now-item-value-scrollbar-wrapper">
                                            <input type="range" min="0" max="10" value="4" id="migre-current-strength-input" oninput="migraine_now_strength_Inputed(this.value)" onchange="migraine_now_strength_Changed(this.value)">
                                        </div>
                                        <div class="migre-v1-main-now-item-value-scrollbar-current" id="migre-current-strength-value">4</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="migre-v1-main-diary-wrapper" id="migre-entries-wrapper">
                        <h1>Недавние записи</h1>
                        <h2>Ваши последние записи мигрени</h2>
                        <div id="migre-diary-wrapper"></div>
                    </div>
                </div>

                <div class="migre-v1-main-bottom">
                    <div class="migre-v1-main-bottom-row">
                        <div class="migre-v1-main-bottom-button-wrapper">
                            <button class="migre-v1-main-bottom-button" id="migre-diary-main-bottom-button"
                                onclick="migraine_now_button_Clicked()">Отметить мигрень сейчас
                            </button>
                            <button class="migre-v1-main-bottom-button" data-square="true" id="migre-diary-main-bottom-button2"
                                onclick="migraine_now_button_Clicked()">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
