{{ define "sign-up.html" }}
<!DOCTYPE html>
<html lang="ru">

<head>
    {{ template "head.html" . }}
</head>

<body>
    <div class="migre-v1-content">
        <div class="migre-v1-container">
            <header class="migre-v1-main-header">
                <div class="migre-v1-main-header-container">
                    <div class="migre-v1-main-header-inner">
                        <div class="migre-v1-main-header-inner-left">
                            <div class="migre-v1-main-header-logo-wrapper"></div>
                            <div class="migre-v1-main-header-hello">
                                <h1>Мигренозник</h1>
                                <h2>Держите вашу боль под контролем</h2>
                            </div>
                        </div>
                        <div class="migre-v1-main-header-inner-right">
                            <a class="migre-v1-main-header-login-buttonlink" href="/">На главную</a>
                        </div>
                    </div>
                </div>
            </header>

            <div class="migre-v1-main">
                <div class="migre-v1-main-login">
                    <div class="migre-v1-main-login-header">
                        <h1>Зарегистрироваться</h1>
                    </div>
                    <form onsubmit="signup_button_Clicked(); return false;">
                        <div class="migre-v1-main-login-fields">
                            <div class="migre-v1-main-login-field-wrapper">
                                <div>Логин</div>
                                <div class="migre-v1-main-login-field-container">
                                    <input oninput="login_fields_Oninput()" name="login" type="text" placeholder="Логин">
                                </div>
                            </div>
                            <div class="migre-v1-main-login-field-wrapper">
                                <div>Пароль</div>
                                <div class="migre-v1-main-login-field-container">
                                    <input id="migre-signup-password" oninput="signup_password_fields_Oninput()" name="password" type="password" placeholder="Пароль">
                                </div>
                            </div>
                            <div class="migre-v1-main-login-field-wrapper">
                                <div>Повторите пароль</div>
                                <div class="migre-v1-main-login-field-container">
                                    <input id="migre-signup-password2" oninput="signup_password2_fields_Oninput()" name="password_repeat" type="password" placeholder="Пароль">
                                </div>
                            </div>
                            <div class="migre-v1-main-login-field-wrapper">
                                <div id="migre-id-main-login-errorbox" class="migre-v1-main-login-field-error-container">
                                    <p>Неверный логин или пароль.</p>
                                </div>
                            </div>
                            <div class="migre-v1-main-login-field-wrapper">
                                <div class="migre-v1-main-login-field-container">
                                    <button type="submit">Зарегистрироваться</button>
                                </div>
                            </div>
                        </div>
                        <div class="migre-v1-main-login-field-wrapper migre-v1-align-center">
                            Уже есть аккаунт? Нажмите <a href="/login/">сюда</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</body>

</html>
{{ end }}